{% extends 'index.html' %}

{% block content %}
    <div class="container" style="margin-left: 250px;">
        <h2 class="mt-4">Login</h2>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.username.label_tag }}
                {{ form.username }}
            </div>
            <div class="mb-3">
                {{ form.password.label_tag }}
                {{ form.password }}
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
{% endblock %}
